{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Posts by {{ author_name }}</h2>

{% if author_posts %}
    {% for post in author_posts %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <!-- <p class="card-text">{{ post.content }}</p> -->
                <p class="card-text">Date: {{ post.pub_date }}</p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No posts found for {{ author_name }}</p>
{% endif %}
{% endblock %}